body{background-color:#343a40;}

#line_titulo{
	background-color:rgb(240, 240, 240);
}

#nomesite{
	margin-left:10%;
	margin-top:15px;
}

#menu{
	background-color:rgb(240, 240, 240); 
}

#menulist{
	margin-left:50%;
	margin-top:15px;
}

 ul {
  	list-style-type: none;
  	margin:0;
  	padding:0;
  	width: 200px;
  	background-color: rgba(255, 255, 255, 0);
  	border-radius:5px;
  	box-shadow:5px 5px 30px 5px rgba(50, 50, 50, 0.2);
  }

	li a {
  	display: block;
  	color: #000;
  	padding: 8px 16px;
  	text-decoration: none;
  }

li a:hover:not(.active){
	border-radius:5px;
	background-color: #343a40;
  	color: white;
  	text-decoration: none;
  	}

li a.active{
	border-radius:5px;	
	background-color:#4CAF50;		
	color:white;
	text-decoration: none;	
	}

#line_main{
	background-color:rgb(240, 240, 240);}

#line_footer{
	text-align:center;
}

h6{margin-top:10px;}

